/* styles.css */
/* Apply styles to the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aed7ff; /* Brighter blue background */
  }
  
  .dashboard-box {
    padding: 20px;
    border: 2px solid #0b629c; /* Darker blue border */
    border-radius: 10px;
    background-color: #e3f0fd; /* Lighter blue background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }
  
  /* Additional styles for elements inside the dashboard-box can be added here */
  
  /* Additional styles for other dashboard elements */
  
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #085280; /* Nice shade of blue */
  }
  
  input[type="text"], button {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  button {
    background-color: #085280; /* Nice shade of blue */
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0a6da3; /* Darker shade of blue on hover */
  }
  
  table, th, td {
    border: 1px solid #414141;
    padding: 8px;
  }
  
  th {
    background-color: #085280; /* Nice shade of blue */
    color: rgb(55, 55, 55);
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }

  .sub-heading {
    font-size: 14px; /* Adjust the font size as needed */
    margin-bottom: 5px; /* Add some space below each sub-heading */
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

/* Additional CSS styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.label-container {
  display: flex;
  align-items: center;
}

label {
  width: 150px; /* Fixed width for labels */
}

.input-container {
  flex: 1;
}

input[type="text"] {
  width: 100%; /* Input takes up remaining space */
}

/* Additional CSS styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.label-container {
    display: flex;
    align-items: center;
}

label {
    width: 150px;
    /* Fixed width for labels */
}

.input-container {
    flex: 1;
}

input[type="text"] {
    width: 100%;
    /* Input takes up remaining space */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}